body {
  box-sizing: border-box;
}

div{
  font-size: 1rem;
}

input{
  margin: 10px;
  border: solid 0.5px gray;
  font-size: 2rem;
  border-radius: 0.5rem;
}

button{
  border: solid 0.5px black;
  border-radius: 10px;
  background-color: white;
  font-size: 1rem;
  padding: 7px;
  margin: 0 10px;
}

.addTask{
  background-color:rgb(72, 67, 217);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list{
  margin: 0;
  text-align: center;
}

.displayTask{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}